<div class="container">
    <form class="example-form" [formGroup]="formulario">
        <!-- AÑADIR VALUE EN LOS INPUT Y ASOCIARLO A UN OBJETO -->
        <mat-form-field class="example-full-width">
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="Titulo" formControlName="titulo">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select matNativeControl required formControlName="tipo">
                <mat-option value="NOVELA">Novela</mat-option>
                <mat-option value="TEATRO">Teatro</mat-option>
                <mat-option value="POESIA">Poesia</mat-option>
                <mat-option value="ENSAYO">Ensayo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Editorial</mat-label>
            <input matInput placeholder="Editorial" formControlName="editorial">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Año</mat-label>
            <input matInput placeholder="Año" formControlName="anyo">
        </mat-form-field>
        <button (click)="agregarLibro()" matButton="filled" type="submit">Agregar libro</button>
    </form>

    <table mat-table [dataSource]="listaLibros" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let libro"> {{libro.id}} </td>
        </ng-container>
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let libro"> {{libro.titulo}} </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let libro"> {{libro.tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="editorial">
            <th mat-header-cell *matHeaderCellDef> Editorial </th>
            <td mat-cell *matCellDef="let libro"> {{libro.editorial}} </td>
        </ng-container>
        <ng-container matColumnDef="anyo">
            <th mat-header-cell *matHeaderCellDef> Año </th>
            <td mat-cell *matCellDef="let libro"> {{libro.anyo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <a matButton href="/prestamos">Prestamos</a>
</div>