<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css">

<div class="container">
    <h1>Prestar libros</h1>

    <!--Formulario sin material-->
    <form [formGroup]="formulario">
        <label for="copia">Copias de los libros</label>
        <select id="copia" formControlName="copia">
            <option *ngFor="let copia of listaCopiasBiblioteca" [value]="copia.id">{{copia.id}}</option>
        </select>

        <label for="lector">Lectores</label>
        <select id="lector" formControlName="lector">
            <option *ngFor="let lector of listaLectores" [value]="lector.nsocio">{{lector.nombre}}</option>
        </select>

        <button (click)="prestar()" type="submit">Prestar libro</button>
    </form>
</div>