<h1>Prestar libros</h1>

<form class="example-form" [formGroup]="formulario">
    <mat-form-field>
        <mat-label>Copias de los libros</mat-label>
        <mat-select required formControlName="copia">
            <mat-option *ngFor="let copia of listaCopias" [value]="copia.id">
                {{copia.id}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Lectores</mat-label>
        <mat-select required formControlName="lector">
            <mat-option *ngFor="let lector of listaLectores" [value]="lector.nombre">
                {{lector.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button (click)="prestar()" matButton="filled" type="submit">Agregar libro</button>
</form>

